<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="Browser" value="chrome" />
    <Parameter name="Url" value="http://localhost:8084/" />
	  
    <Parameter name="username" value="rmgyantra" />
    <Parameter name="password" value="rmgy@9999" />
	  
  </TestRunParameters>
 
</RunSettings>
